--no-private
--title=AWS Distro for OpenTelemetry XRay UDP Exporter
--markup=markdown
--main=README.md
./lib/aws/distro/opentelemetry/exporter/xray/udp/**/*.rb
./lib/aws/distro/opentelemetry/exporter/xray/udp.rb
-
README.md
CHANGELOG.md
